body {
    margin:0; font-family:Arial, 'Helvetica', sans-serif; font-size:100%;
    background:#ccc;
}
.pageHolder {
    width:400px;
    margin:100px auto;
    -webkit-perspective: 2000px; /* Chrome, Safari, Opera */
    perspective: 2000px;
}
.card__group {
    width:400px; height:600px;
    background:darkblue;
    color:#fff;
}