/*  ================================================
    Selfie overrides
    ================================================ */
    /*generic styles*/
    .brandingHead {
        margin-top: 5em;
    }
    /*helper classes*/
    .item--left {
        float: left;
    }
    .item--right {
        float: right;
    }
    .text--center {
        text-align: center;
    }
    .text--left {
        text-align: left;
    }
    .text--right {
        text-align: right;
    }
    /*form elements change to white background*/
    .form__textBox {
        background: #fff;
        border-bottom: 2px solid #eee;
        box-shadow: inset 0 0 3px #bbb;
                -moz-box-shadow: inset 0 0 3px #bbb;
                -webkit-box-shadow: inset 0 0 3px #bbb;
        padding: 0.5em;
    }
    .form__label {
        z-index: 1;
    }
    .form__textArea {
        border: none;
    }
    .form__item--sub .form__textBox {
        background: #f5f5f5;
        color: #1c1c1c;
    }
    .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
        padding: 0.5em;
    }

/*  ================================================
    Sign up and Pre-Login screen styles
    ================================================ */    
    
    /*grid layout classes for prelogin screens*/
    .prelogin__gridHolder {
        width: 24em;
        max-width: 80%;
        margin: 0 auto;
        padding: 4em 0 0 0;
    }
    .signup__gridHolder {
        width: 96%;
        max-width: 64em;
        min-width: 47em;
        margin: 0 auto;
        padding: 4em 0 0 0;        
    }
    .signup__gridHolder .form--narrow {
        width: 80%;
        margin-left: 3em;
    }
    /*sign up features*/
    .productFeatures {
        margin-top: 4.75em;
        padding-left: 4.5em;
    }
    .productFeatures_list {
        padding: 0;
    }
    .border--left {
        border-left: 1px dotted #ccc;
    }
    .productFeatured_itemInfo ul {
        padding-left: 1em;
    }
    .productFeatured_item {
        margin-bottom: 1.5em;
    }
    .productFeatures_list li {
        list-style-type: none;
        padding: 0;
    }
    .productFeatured_itemIcon {
        display: inline-block;
        float: left;
    }
    .productFeatured_itemInfo {
        display: inline-block;
    }
    .productFeatured_itemInfo .productFeatured_item--header {
        font-size: 1.25em;
        margin-top: 0;
        margin-left: 0.5em;
        margin-bottom: 0;
    }
/*  ================================================
    Account Settings and Payment screen styles
    ================================================ */    
    
    /*display boxes for account settings*/
    .card--item {
        background: #fff;
    }
    .card--item .tk--hdr {
        font-weight: normal;
    }
    .accountSettings__box-item, .paymentOptions__box-item {
        list-style-type: none;
        padding: 1em 1em 2em 1em;
        border-bottom: 1px solid #eee;
    }
    .accountSettings__box-item li, .paymentOptions__box-item li {
        padding: 0;
    }
    .accountSettings__box-item li h2, .accountSettings__box-item li h3, .paymentOptions__box-item li h2, .paymentOptions__box-item li h3{
        margin: 0;
    }
    .accountSettings__box-item li h2, .paymentOptions__box-item li h2 {
        display: inline-block;
        margin-right: 1em;
    }

/*  ================================================
    Support screen styles
    ================================================ */   

    .supportContent__step {
        margin-top:2em;
    }




