/*  ================================================
    video preview classes
    ================================================ */

    .videoPreview__group {
        position: relative;
        padding-bottom: 56.25%;
        margin:0;
    }
        .videoPreview__group::before {
            content:url("../img/sub-divider.svg");
            display:block;
            width:0.25em;
            margin:-1.25em auto;
        }

        .videoPreview__iframe {
            position: absolute;
            top: 1.5em;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .videoDescription__group {
            width:100%;
            padding:1em;
            margin-top:1.5em;
            background-color:#fff;
            box-shadow:0 0 1em #e8e8e8;
        }

            .videoDescription__title {
                margin:-0.25em 0 0 0;
                color:#1c1c1c;
                font-size:1.125em;
                line-height:1.34em;
                font-weight:normal;
            }

            .videoDescription__source {
                font-size:0.778em;
            }

            .videoDescription__metaData {
                color:#5c5c5c;
                font-size:0.875em;
                margin-top:0.75em;
            }

                .videoDescription__metaDatum {
                    margin-right:2em;
                }

                    .videoDescription__metaDatumFa {
                        font-size:1em;
                        color:#b1b1b1;
                        margin-right:0.35715em;
                    }


/*  ================================================
    video thumbnail classes
    ================================================ */

    .videoThumbnail__group {
        margin:1.25em 0;

    }

        .videoThumbnail__item {
            background-color:#f1f1f1;
            border-bottom:2px solid #5c5c5c;
            margin:1em 0;
        }
            .videoThumbnail__itemLeft {
                margin-right:1em;
            }
            .videoThumbnail__itemRight {
                margin-left:1em;
            }