.title__group {
    -domino-order: 1;
}

.video__group {
    -domino-order: 2;
}

.sidebar__group {
    -domino-order: 3;
}

.cta__group {
    -domino-container:.card__group;
    -domino-order: 4;
}

.description__group {
    -domino-order: 5;
}
    .sponsor__group {
        -domino-container:.title__group;
        -domino-order: 1;
    }

    .sponsor__label {
        -domino-container:.title__group;
        -dominio-order:4;
    }

    .sponsor__name {
        -domino-container:.title__group;
        -dominio-order:3;
    }

    h1.tk--hdr {
        -domino-container:.title__group;
        -domino-order: 2;
    }

    
