/*.social__share {
    -domino-container:.description__container;

}
*/

.social__group {
    -domino-container:.description__group;
}


.cta__group {
 
}

.description__container {
    -domino-container:.sidebar__group;
}


