.social__share {
    -domino-container:.title__group;
    width:20%;
    position:absolute;
    right:26%;
    top:1.25rem;
    bottom:1.25rem;
}

    .social__share li {
        height:100%;
    }

        .social__group--share {
            height:100%;
            width:100%;
            max-width:inherit;
        }

        .social__group--share .socialIconFont {
            font-size:1.25rem;
            text-transform:uppercase;
            width:7.125rem;
        }

            .social__group--share .socialIconFont .social__label {
                font-weight:600;
            }

.cta__group {
    -domino-container:.sidebar__group;
}

.expand__group {
    bottom:0;
}

