<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>test</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="stylesheet" href="../../../public/css/desktop-click/desktop__base.css" type="text/css">
  <link rel="stylesheet" href="../../../public/css/desktop-click/desktop-click__player.css" type="text/css">
  </head>
<body>

    <div class="card__group">

      <input type="checkbox" id="toggle__btn" name="toggle__btn">

      <div class="sidebar__group">
        <div class="sponsor__group">
          <span class="sponsor__label">Sponsor:</span>
          <a href="" class="sponsor__img">
            <img src="http://33.media.tumblr.com/avatar_905bc304b925_128.png">
          </a>
          <span class="sponsor__name">Pop Mech</span>
        </div><!-- .sponsor__group -->

        <div class="social__group">
          <ul data-view="links:LinksListView" data-model="links" class="social__media"><!-- social network links and the share button-->
              <li data-target="controller" data-action="clickthrough">
                  <a href="{{href}}" target="_blank" title="{{label}}" class="social__group--icon social__group--facebook">
                      <span class="socialIconFont">
                          <span class="social__label">Like</span>
                      </span>
                  </a>
              </li>
              <li data-target="controller" data-action="clickthrough">
                  <a href="{{href}}" target="_blank" title="{{label}}" class="social__group--icon social__group--twitter">
                      <span class="socialIconFont">
                          <span class="social__label">Follow</span>
                      </span>
                  </a>
              </li>
              <li data-target="controller" data-action="clickthrough">
                  <a href="{{href}}" target="_blank" title="{{label}}" class="social__group--icon social__group--pinterest">
                      <span class="socialIconFont">
                          <span class="social__label">Follow</span>
                      </span>
                  </a>
              </li>
              <li data-target="controller" data-action="clickthrough">
                  <a href="{{href}}" target="_blank" title="{{label}}" class="social__group--icon social__group--instagram">
                      <span class="socialIconFont">
                          <span class="social__label">Follow</span>
                      </span>
                  </a>
              </li>
              <li data-target="controller" data-action="clickthrough">
                  <a href="{{href}}" target="_blank" title="{{label}}" class="social__group--icon social__group--youtube">
                      <span class="socialIconFont">
                          <span class="social__label">Subscribe</span>
                      </span>
                  </a>
              </li>            
          </ul>

          <ul data-if="canShare" class="social__share">
              <li data-target="controller" data-action="clickthrough">
                  <button href="{{href}}" target="_blank" title="{{label}}" class="social__group--icon social__group--share">
                      <span class="socialIconFont">
                          <span class="social__label">Share</span>
                      </span>
                  </button>
              </li>
          </ul>
        </div><!-- .social__group-->
      </div><!-- .sidebar__group-->

      <div class="expand__group">
        <div class="expand__box">
          <label for="toggle__btn" class="expand__btn"><span class="expand__label">Expand</span></label>
        </div><!-- .expand__box -->
      </div><!-- .expand__group-->

      <div class="description__group">
        <label for="toggle__btn" class="description__close"></label>
        <div class="description__container">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis ligula vitae ante congue luctus. Sed cursus massa ut dolor mattis vehicula quis vitae diam. Vivamus facilisis ligula eu diam suscipit, vitae vulputate justo finibus. Aliquam tempor non ante ac rhoncus. Vestibulum tristique mi vitae tortor ullamcorper sodales. Quisque finibus tortor eget magna ultrices, in tincidunt nibh laoreet.</p>
        </div>
      </div><!-- .description__group -->

      <div class="video__group">
        <iframe class="video__player" src="https://www.youtube.com/embed/18MrsJ0bjAY?rel=0" frameborder="0" allowfullscreen></iframe>
      </div><!-- .video__group-->

      <div class="title__group">
        <h1 class="tk--hdr">Holy cow this is a characters right here</h1>
        <div class="cta__group">
          <a href="#" target="_blank" class="cta__box">
            <span class="sponsoredBtn">This is 25 characters wow</span>
          </a>
        </div><!-- .cta__group-->
      </div><!-- .title__group -->

    </div><!-- .card__group-->
    <script>window.dominoCSS.bootstrap(document.documentElement);</script>
  </body>
</html>